<router-outlet></router-outlet>

<h1 directivaResaltar>Directivas - resalta en default</h1>

<h3 directivaResaltar [appHighlight]="'green'">Resalta en verde</h3>
<h3 directivaResaltar [appHighlight]="'blue'">Resalta en azul</h3>
<h3 directivaResaltar [appHighlight]="'#FFFF00'">Resalta en #FFFF00</h3>

<hr />
<!--
    https://angular.io/guide/pipes
-->
<h1>Pipes:</h1>

<h3>Transformar a mayusculas: {{ minusculas | uppercase }}</h3>
<h3>Transformar a minusculas: {{ mayusculas | lowercase }}</h3>
<!-- 
    Para pasar valores, usamos los ":" y luego el valor que le queremos agregar. Si queremos seguir agregando valores, agregamos ":" y otro valor o variable. ej: {{ valorInicial | miPipe : "valor1" : "valor2" }}
Todos estos parámetros se almacenan en el array "...args" de la función transform.
-->
<h3>Transformar a moneda: {{ precio | currency : "ARS" }}</h3>
